{
	"settings": {
		"host": "irc.freenode.net",
		"port": 6697,
		"ssl":	"yes",
		"nick": "DovaBot",
		"pass": "password",
		"channel": [
			"##temp"
		],
		"ident": "dovahkiin",
		"realname": "PythonIRCClient",
		"apiKey": "APIKEYHEREDONTSHARE"
	}
}


